<div class="container">
    <h2>Detalles pais: </h2>
    <img src="{{inputPaisActorSeleccionado.flag}}" alt="" class="card-img-top">
    <p class="font-weight-bold">Pais: <span class="font-weight-normal">{{inputPaisActorSeleccionado.name}}</span></p>
    <p class="font-weight-bold">Capital: <span class="font-weight-normal">{{inputPaisActorSeleccionado.capital}}</span></p>
    <p class="font-weight-bold">Subregion: <span class="font-weight-normal">{{inputPaisActorSeleccionado.subregion}}</span></p>
    <!-- <p class="font-weight-bold">Fecha de nacimiento: <span class="font-weight-normal"></span></p>
    <p class="font-weight-bold">Nacionalidad: <span class="font-weight-normal"></span></p> -->
    <div class="row d-flex mx-auto">
    </div>
</div>

