<main role="main">
    <div class="jumbotron">
      <div class="container-md">
        <h1 class="display-3 text-center">Actores</h1>
        <!-- <p><a class="btn btn-primary btn-lg" role="button" (click)="cambiarVista()">Cambiar vista</a></p> -->
        <div class="row overflow-auto" style="max-height: 300px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actor of listaActores">
                <td>{{actor.nombre}} {{actor.apellido}}</td>
                <td><img [src]="actor.foto" class="" style="width: 100px; height: 150px;"></td>
                <td><button type="button" class="btn btn-sm btn-outline-secondary" (click)="emitirActor(actor)">Agregar</button></td>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  
  
  </main>
  